workflows/tests/test-google-drive.json
{
  "name": "Test Google Drive Connection",
  "nodes": [
    {
      "parameters": {},
      "id": "start-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "driveId": {
          "__rl": true,
          "value": "my-drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "DatAlive_TestData",
          "mode": "list"
        },
        "options": {
          "fields": ["id", "name", "size", "mimeType", "modifiedTime"],
          "maxResults": 10
        }
      },
      "id": "list-files",
      "name": "List Test Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [460, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{GOOGLE_DRIVE_CREDENTIAL_ID}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Test: Google Drive Connection\nconst files = $input.all();\n\nreturn {\n  test_name: \"Google Drive Connection\",\n  status: files.length > 0 ? \"PASS\" : \"FAIL\",\n  files_found: files.length,\n  files: files.map(f => ({\n    name: f.json.name,\n    id: f.json.id,\n    size: f.json.size,\n    type: f.json.mimeType,\n    modified: f.json.modifiedTime\n  })),\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "test-result",
      "name": "Test Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "List Test Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Test Files": {
      "main": [
        [
          {
            "node": "Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {}
}