test-connectivity.json
{
  "name": "Test Connectivity",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-connectivity",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "test-connectivity-endpoint"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://datalive-ollama:11434/api/tags",
        "options": {
          "timeout": 5000
        }
      },
      "id": "test-ollama",
      "name": "Test Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{
          "node": "Test Ollama",
          "type": "main",
          "index": 0
        }]
      ]
    },
    "Test Ollama": {
      "main": [
        [{
          "node": "Webhook Response",
          "type": "main",
          "index": 0
        }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "staticData": {}
}