test-ollama-webhook.json
{
  "name": "Test Ollama Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-ollama",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "test-ollama-endpoint"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  text: \"Este es un test de embeddings para DataLive\",\n  test_id: 1\n}];"
      },
      "id": "prepare-text",
      "name": "Prepare Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://datalive-ollama:11434/api/embeddings",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text:v1.5\",\n  \"prompt\": {{JSON.stringify($json.text)}}\n}",
        "options": {}
      },
      "id": "ollama-request",
      "name": "Ollama Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const embedding = $json.embedding;\nconst isArray = Array.isArray(embedding);\nconst dimensions = isArray ? embedding.length : 0;\nconst originalText = $('Prepare Text').item(0).json.text;\n\nreturn {\n  test_name: \"Ollama Embeddings Test (Webhook)\",\n  original_text: originalText,\n  has_embedding: isArray,\n  dimensions: dimensions,\n  expected_dimensions: 768,\n  status: (isArray && dimensions === 768) ? \"PASS\" : \"FAIL\",\n  first_values: isArray ? embedding.slice(0, 3) : [],\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "verify-result",
      "name": "Verify Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify($json, null, 2)}}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{
          "node": "Prepare Text",
          "type": "main",
          "index": 0
        }]
      ]
    },
    "Prepare Text": {
      "main": [
        [{
          "node": "Ollama Request",
          "type": "main",
          "index": 0
        }]
      ]
    },
    "Ollama Request": {
      "main": [
        [{
          "node": "Verify Result",
          "type": "main",
          "index": 0
        }]
      ]
    },
    "Verify Result": {
      "main": [
        [{
          "node": "Webhook Response",
          "type": "main",
          "index": 0
        }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "staticData": {}
}