datalive_agent/n8n_workflows/test/qdrant-test.json
{
  "name": "Qdrant Connection Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-qdrant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-2",
      "name": "Webhook Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.url }}/collections",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "options": {}
      },
      "id": "qdrant-1",
      "name": "List Qdrant Collections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "qdrantApi": {
          "id": "DataLive Qdrant",
          "name": "DataLive Qdrant"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Test": {
      "main": [
        [
          {
            "node": "List Qdrant Collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Qdrant Collections": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "test-qdrant-connection"
}